.card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  
  .card-img img {
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
  }
  
  